@import "colours";
@import "margins";

.style-guide-container {
    padding: 0 $bottomMargin;
    border-radius: $defaultBorderRadius;
    margin-bottom: $bottomMargin;

    &:last-child {
        margin-bottom: 0;
    }

}