<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon class="logo" name="platform-kinetics-logo"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-container">
    <h1>Typography</h1>

    <div class="style-guide-container">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>

      <p>Please enter your subdomain or sign up for an account</p>
    </div>

    <h1>Form elements</h1>

    <div class="style-guide-container">

      <form novalidate (ngSubmit)="submitForm()" [formGroup]="uiFormGroup">

        <ion-item [ngClass]="{'invalid-form-item': input.invalid && (input.dirty || input.touched)}">
          <ion-input [ngClass]="{'ion-touched': input.invalid && (input.dirty || input.touched)}" formControlName="input" required type="text" placeholder="Placeholder text"></ion-input>
        </ion-item>

        <ion-item class="validation-error-container"  *ngIf="input.invalid && (input.dirty || input.touched)">
          <p class="validation-error" *ngIf="input.errors?.required">Input is required</p>
        </ion-item>

        <ion-item [ngClass]="{'invalid-form-item': select.invalid && (select.dirty || select.touched)}">
          <ion-select [ngClass]="{'ion-touched': select.invalid && (select.dirty || select.touched)}" formControlName="select" interface="action-sheet" placeholder="Select One">
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="validation-error-container"  *ngIf="select.invalid && (select.dirty || select.touched)">
          <p class="validation-error" *ngIf="select.errors?.required">Select is required</p>
        </ion-item>

        <ion-item [ngClass]="{'invalid-form-item': startDate.invalid && (startDate.dirty || startDate.touched)}">
          <ion-datetime required [ngClass]="{'ion-touched': startDate.invalid && (startDate.dirty || startDate.touched)}" placeholder="Start date*" formControlName="startDate" displayFormat="DD/MM/YYYY"></ion-datetime>
        </ion-item>

        <ion-item class="validation-error-container"  *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)">
          <p class="validation-error" *ngIf="startDate.errors?.required">Start date is required</p>
        </ion-item>
 
        <ion-item [ngClass]="{'invalid-form-item': textArea.invalid && (textArea.dirty || textArea.touched)}">
          <ion-textarea [ngClass]="{'ion-touched': textArea.invalid && (textArea.dirty || textArea.touched)}" formControlName="textArea" placeholder="Enter more information here..."></ion-textarea>
        </ion-item>

        <ion-item class="validation-error-container"  *ngIf="textArea.invalid && (textArea.dirty || textArea.touched)">
          <p class="validation-error" *ngIf="textArea.errors?.required">textArea is required</p>
        </ion-item>


        <ion-item>
          <ion-label>Toggle</ion-label>
          <ion-toggle mode="ios" slot="end"></ion-toggle>
        </ion-item>

        <ion-item [ngClass]="{'invalid-form-item': radio.invalid && (radio.dirty || radio.touched)}">
          <ion-radio-group [ngClass]="{'ion-touched': radio.invalid && (radio.dirty || radio.touched)}" formControlName="radio">
            <ion-label class="ion-radio-header">Radio buttons label:</ion-label>

            <ion-item>
              <ion-label>Radio 1</ion-label>
              <ion-radio mode="md" slot="start" value="biff"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Radio 2</ion-label>
              <ion-radio mode="md" slot="start" value="griff"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Radio 3</ion-label>
              <ion-radio mode="md" slot="start" value="buford"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>

        <ion-item class="validation-error-container"  *ngIf="radio.invalid && (radio.dirty || radio.touched)">
          <p class="validation-error" *ngIf="radio.errors?.required">radio is required</p>
        </ion-item>

        <ion-item>
          <ion-label>Use client address</ion-label>
          <ion-checkbox mode="ios" slot="start" ></ion-checkbox>
        </ion-item>

        <ion-item class="ion-range">
          <ion-list>
            <ion-item class="ion-range-label">
              <p>Normal Occupant Activity</p>
            </ion-item>
            <ion-item>
              <ion-range min="0" max="3" mode="md" pin="true" snaps="true">
                <ion-label slot="start">0</ion-label>
                <ion-label slot="end">3</ion-label>
              </ion-range>
            </ion-item>
          </ion-list>
        </ion-item>

        <ion-button type="submit" mode="ios" expand="block">Submit</ion-button>

      </form>

    </div>

    <h1>Buttons</h1>

    <div class="style-guide-container">

      <h2>Default button styles</h2>

      <ion-button mode="ios" (click)="clearKey()" expand="block">Clear key</ion-button>

      <ion-button mode="ios" expand="block">
        <ion-icon slot="start" name="camera"></ion-icon>
        Left Icon
      </ion-button>

      <ion-button mode="ios" expand="block">
        <ion-icon slot="end" name="camera"></ion-icon>
        Right Icon
      </ion-button>

      <ion-button mode="ios" expand="block">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>

      <ion-button mode="ios" shape="round">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>

      <h2>Disabled button styles</h2>

      <ion-button mode="ios" disabled="true" expand="block">Default</ion-button>

      <ion-button mode="ios" disabled="true" expand="block">
        <ion-icon slot="start" name="camera"></ion-icon>
        Left Icon
      </ion-button>

      <ion-button mode="ios" disabled="true" expand="block">
        <ion-icon slot="end" name="camera"></ion-icon>
        Right Icon
      </ion-button>

      <ion-button mode="ios" expand="block" disabled="true">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>

      <ion-button mode="ios" disabled="true" shape="round">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>

    </div>

    <h1>Item Divider</h1>

    <div class="style-guide-container">
      <ion-item-divider></ion-item-divider>
    </div>

    <h1>Horizontal Scroll</h1>

    <div class="style-guide-container">
      <div class="scroll" scrollx="true">
        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
        <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
      </div>
    </div>

</ion-content>

<ion-footer mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>