:root {
  --ion-color-atlantis: #99CC33;
  --ion-color-atlantis-rgb: 153,204,51;
  --ion-color-atlantis-contrast: #000000;
  --ion-color-atlantis-contrast-rgb: 0,0,0;
  --ion-color-atlantis-shade: #87b42d;
  --ion-color-atlantis-tint: #a3d147;

  --ion-color-martinique: #3A3451;
  --ion-color-martinique-rgb: 58,52,81;
  --ion-color-martinique-contrast: #ffffff;
  --ion-color-martinique-contrast-rgb: 255,255,255;
  --ion-color-martinique-shade: #332e47;
  --ion-color-martinique-tint: #4e4862;

  --ion-color-seashell: #F1F1F1;
  --ion-color-seashell-rgb: 241,241,241;
  --ion-color-seashell-contrast: #000000;
  --ion-color-seashell-contrast-rgb: 0,0,0;
  --ion-color-seashell-shade: #d4d4d4;
  --ion-color-seashell-tint: #f2f2f2;

  --ion-color-aluminium: #A7A9AD;
  --ion-color-aluminium-rgb: 167,169,173;
  --ion-color-aluminium-contrast: #000000;
  --ion-color-aluminium-contrast-rgb: 0,0,0;
  --ion-color-aluminium-shade: #939598;
  --ion-color-aluminium-tint: #b0b2b5;

  --ion-color-monza: #DC001E;
  --ion-color-monza-rgb: 220,0,30;
  --ion-color-monza-contrast: #ffffff;
  --ion-color-monza-contrast-rgb: 255,255,255;
  --ion-color-monza-shade: #c2001a;
  --ion-color-monza-tint: #e01a35;
}