<ion-content class="ion-container">

  <div class="vertical-align">
    
    <div class="central-container">

      <ion-icon class="logo" name="platform-kinetics-logo-alt"></ion-icon> 

      <form novalidate [formGroup]="authenticationForm.formGroup" (ngSubmit)="authenticate()">

        <ion-item [ngClass]="{'invalid-form-item': authenticationForm.username.invalid && (authenticationForm.username.dirty || authenticationForm.username.touched)}">
          <ion-input [ngClass]="{'ion-touched': authenticationForm.username.invalid && (authenticationForm.username.dirty || authenticationForm.username.touched)}" formControlName="username" required type="text" placeholder="Username"></ion-input>
        </ion-item>

        <ion-item class="validation-error-container"  *ngIf="authenticationForm.username.invalid && (authenticationForm.username.dirty || authenticationForm.username.touched)">
          <p class="validation-error" *ngIf="authenticationForm.username.errors?.required">Please enter a user</p>
        </ion-item>

        <ion-item [ngClass]="{'invalid-form-item': authenticationForm.password.invalid && (authenticationForm.password.dirty || authenticationForm.password.touched)}">
          <ion-input [ngClass]="{'ion-touched': authenticationForm.password.invalid && (authenticationForm.password.dirty || authenticationForm.password.touched)}" formControlName="password" required type="password" placeholder="Password"></ion-input>
        </ion-item>

        <ion-item class="validation-error-container"  *ngIf="authenticationForm.password.invalid && (authenticationForm.password.dirty || authenticationForm.password.touched)">
          <p class="validation-error" *ngIf="authenticationForm.password.errors?.required">Please enter a password</p>
        </ion-item>

        <ion-button type="submit" expand="block" mode="ios">
          <ion-spinner *ngIf="isLoggingIn" name="crescent"></ion-spinner>
          <span *ngIf="!isLoggingIn">Login</span>
        </ion-button>

        <p class="validation-error">{{authenticationError}}</p>
      
      </form>
    
    </div>

  </div>

</ion-content>