@import "margins";

.error-message {
    display: block;
    margin: 0 auto;
    max-width: 265px;
}

.margin-bottom {
    margin-bottom: $bottomMargin !important;
}

ion-button {
    max-width: 250px;
    margin: 0 auto;
}