@import "mix-ins";
@import "margins";

ion-content {
    --background: black;

    &.camera-ready {
        --background: transparent;
    }

}   

canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

ion-button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    left: 20px;
    z-index: 100000;
}

.image-processing, .camera-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: 100000;
    width: 100%;

    ion-spinner {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        display: block;
    }

    p {
        font-size: 30px;
        line-height: 30px;
        color: white;
        margin: 0;
        font-weight: 700;
    }

}

.image-processing {

    ion-spinner {
        margin-bottom: $bottomMargin;
    }

}